/** FONTS **/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/** VARIABLES & THEMES **/
:root {
  --primary-color: #fff;
  --secondary-color: #fd3e58;
  --container-background-color: #18315b;
}

/** RESET CSS **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  color: var(--primary-color);
}
html {
  scroll-behavior: smooth;
  height: 20rem;
}

body {
  background-color: var(--secondary-color);
}

.container {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: var(--container-background-color);
}
